@charset utf-8;

*{margin:0;padding:0}
ul,li{border:0;list-style:none;margin:0;padding:0}
.center{margin:0 auto}
html[xmlns] .clearfix{display:block;}
* html .clearfix{height:1%;}
.clearfix{display:inline-block;}
.fl{float:left}
.fr{float:right}
.block,.form1 label{ display:block; overflow:hidden;}

body{font-size:13px; margin:10px; font-family:arial; background:#FCFCFC url(../Fashion/Images/bgf0.jpg) fixed}
.auto{width:100%}
.width{width:980px;}
.shadowedge{box-shadow:rgba(0,0,0,0.1) 0 0 2px;
-moz-box-shadow:rgba(0,0,0,0.1) 0 0 2px;
-webkit-box-shadow:rgba(0,0,0,0.1) 0 0 2px; border:1px solid #DDD;}
.minH{
  min-height:550px;
  *_height:550px
}
a{ text-decoration:none;}

ul#navmenu, ul#navmenu li, ul#navmenu li ul, ul#navmenu li ul li, ul#navmenu li ul li a, ul#leftmenu, ul#leftmenu li, ul#leftmenu li a { display:block; overflow:hidden;}
ul#navmenu{border:1px solid #EEE; border-width:1px 0; border-bottom:3px solid #EBEFFE; padding:5px 5px 5px;}
ul#navmenu li{float:left; width:180px; margin-right:5px; font-family:Georgia; font-weight:700;}
ul#navmenu li ul{ padding:5px; background:#EBEFFE;}
ul#navmenu li p{ background:#950000 url(../Fashion/Images/bg3.jpg);  padding:7px 10px 10px; text-align:left; border-top:3px solid #0970AA; font-size:14px; letter-spacing:1px; color:#000;}
ul#navmenu li p span{ display:block; font-size:9px; color:#FFF; font-family:Arial, Helvetica, sans-serif;}
ul#navmenu li ul li a,ul#navmenu li ul .empty{ background:url(../Fashion/Images/main-menu-a.png)0% -3px no-repeat; font-family:arial; font-weight:normal; padding:3px 10px; color:#05405F; font-size:11px; letter-spacing:1px;}
ul#navmenu li ul .empty{ background-image:none;}



ul#leftmenu { background:url(../Fashion/Images/bg.gif) bottom repeat-x;}
ul#leftmenu li{ padding-left:10px;}
ul#leftmenu li a{ background:url(../Fashion/Images/main-menu-a.png)0% -1px no-repeat; font-family:arial; font-weight:normal; padding:5px 15px; color:#05405F; font-size:12px; letter-spacing:1px;}
ul#leftmenu li:hover{ background:#FCFCFC;}

#wrapper {width:980px;}

#slider {float:left; position:relative; overflow:auto; width:980px; height:300px; background:#fff}
#slider ul {position:absolute; list-style:none; top:0; left:0}
#slider li {float:left; width:980px; height:300px;}

.pagination {float:left; list-style:none; height:25px; margin:15px 0 0 32px; position:relative; margin-top:-30px;}
.pagination li {float:left; cursor:pointer; padding:0 1px; font-size:9px; width:5px; height:5px; background:#8F5446; border:1px solid #572929; margin:0 2px 0 0; text-align:center; color:#FFFFFF}
.pagination li:hover {background:#446BAE;  color:#000}
li.current {border:1px solid #572929; background:#572929}




.alpha60{background:rgba(255,255,255,0.5)}
.alpha70{background:rgba(255,148,2,0.5)}



.editor{/*margin:0 10px;*/}
.editor ul, .editor li{ list-style:square!important;}
.editor li{ margin-left:25px;}





.ibutton, a.ibutton,a:visited.ibutton {
	font-size:13px; letter-spacing:.5px; font-family:Tahoma, Geneva, sans-serif;
	background:#A9D8F2; color:#FFF; padding:1px 10px 4px; border:1px solid #0F73AE; border-top-width:2px; font-weight:700; height:27px; line-height:23px;
	background: -moz-linear-gradient(top, #A9D8F2 0%, #41AAE2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A9D8F2), color-stop(100%,#41AAE2));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A9D8F2', endColorstr='#41AAE2',GradientType=0 );	
}

.ibutton:disabled{ color:#DDD;}
.ibutton:hover{
	background: -moz-linear-gradient(top, #41AAE2 0%, #A9D8F2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#41AAE2), color-stop(100%,#A9D8F2));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41AAE2', endColorstr='#A9D8F2',GradientType=0 );
	cursor:pointer;	
}

.form1{ background:#950000 url(../Fashion/Images/bg3.jpg); border-top:3px solid /*#840000*/#0970AA; padding:11px; display:block; overflow:hidden; margin:15px 15px 15px 14px;}
.form1 input[type="text"],.form1 input[type="password"]{ border:1px solid #0970AA; padding:3px 5px; width:145px; margin-bottom:3px; background:#FFF url(Images/shadow.gif) top repeat-x;}
.form1 label{ padding:3px 2px; color:#FFF; }

.form1 p a{ border-bottom:1px solid #800000; background:url(../Images/main-menu-a.png)0% -25px no-repeat; border-top:1px solid #9F0000; padding:6px 10px; color:#FFF; font-weight:700; display:block; overflow:hidden;}


/*
.menu{margin:20px 3px 5px;}
.menu ul, .menu ul li{display:block;overflow:hidden;}
.menu ul li{padding:2px;}
.menu ul li a{border:none !important;text-decoration:none;color:#16387C;font-size:10px; padding-left:6px;}
*/
.tb{ font-weight:700; text-align:center; background:#CC0000; margin:8px 8px 4px; color:#FFF }

.sfae fieldset{ margin:15px; border:1px solid /*#970102*/#0970AA; padding:5px;}
.sfae fieldset legend{ margin:0 1px; background:#0970AA; color:#FFF; padding:3px 10px; font-weight:700; font-size:12px; letter-spacing:1px; font-family:Georgia, "Times New Roman", Times, serif;}
.sfae fieldset a{ color: #05405F; padding:1px 20px; line-height:16px; font-size:11px;  background:url(../Fashion/Images/main-menu-a.png)5% -6px no-repeat; letter-spacing:1px; display:block;}

.box{ margin:10px;}
.box .title{/*background:#950000;*/ font-size:17px; /*display:inline-block;*/ font-weight:700; font-family:Georgia, 'Times New Roman', Times, serif; letter-spacing:1px; padding:5px 5px; color:#056DAC; border-bottom:1px double #DFDFDF;}

.box div{ padding:5px; letter-spacing:.1px; line-height:23px; color:#333; }


.formsuit input[type=text],.formsuit input[type=password],.formsuit select{ padding:5px; width:350px; border:1px solid #EAEAEA; background:#FFF url(Images/shadow.gif) top repeat-x;}
.formsuit select{ width:362px;}


ul.applyreg, ul.applyreg li{ display:block; overflow:hidden;float:left;}
ul.applyreg li a{ width:225px; border-left:1px solid #FAFAFA; height:62px; line-height:62px;  border-right:1px solid #DDD; font-size:30px; font-weight:700; color:#F8F8F8;  padding-left:10px; padding-right:10px; display:block; text-decoration:none; border-bottom:none; }
.ON{ background:#FFFFFF;}
.ON a{color:#B9BDC2!important}


.swft th, td{ padding:4px 3px;}
.swft th{ padding:6px; background:#CCC; color:#FEFEFE; text-align:left; border-right:1px solid #EEE;}
.swft input[type=text], .swft select, .swft textarea, .swft .smalls{border:1px solid #315091; background:#FFF url(Images/shadow.gif) top repeat-x; width:300px;padding:4px; font-family:tahoma; font-size:12px;}
.swft select{ width:310px;}
.swft textarea{ resize:none;}
.htd{background:#EEEEEE;color:#222;padding:8px 10px 7px;text-transform:uppercase; font-weight:700; margin-top:9px;}
.swft .smalls{width:71px !important;}
.swft .midy{ width:155px !important;}
.swft .smidy{ width:195px; }
.lsp{ color:grey; font-size:10px;}
table.table1{border:1px solid #ddd;table-layout:fixed;margin-bottom:8px;}
.td, .td3, .td4{padding:3px;padding-left:10px;border:1px solid #F2F2F2;border-width:0 1px 1px 0;color:#575757;}
.td2,.td4{padding:3px;border:1px solid #F2F2F2;border-width:0 0 1px 0;}
.td3{border:none;}
.td4{ border-width:1px 1px 0 0; padding-left:5px}


.calendar-box {
	display:none;
	background-color:#fff;
	border:1px solid #444;
	position:absolute;
	width:250px;
	padding: 0 5px;
}
.calendar-box select.calendar-month {
	width:90px;
}
.calendar-box select.calendar-year {
	width:70px;
}
.calendar-box .calendar-cancel {
	width:100%;
}
.calendar-box table td {
	width:14%;
	font-size:13px;
}
.calendar-box .calendar-title {
	text-align:center;
}
.calendar-box a {
font-size:13px;
	text-decoration:none !Important;
	border-bottom:none;
}
.calendar-box .today a {
	padding:0 5px;
	margin-left:-5px;
	background-color:#ffe9c6;
} 
.calendar-box .selected a {
	padding:0 5px;
	margin-left:-5px;
	background-color:#c9ff8b;
}



p.imgplaceholder{ width:90px; height:100px; background:#FFD7D7; display:block; overflow:hidden; margin:5px;}
.pH,.bH{ font-size:22px; padding:5px 10px; text-align:left; margin:5px 0; border-bottom:3px double #EEE;}
.bH{ font-family:Georgia, "Times New Roman", Times, serif; font-weight:700; margin:5px 0; font-size:14px; color:#036; letter-spacing:2px; border-color:#DDD}
.payF{ border:1px solid #EEE; margin-top:10px;}
.payF legend{ margin:0 10px; padding:3px 10px; font-weight:700; background:#333; color:#FFF; margin-bottom:10px;}
.payF table th{ font-size:15px; padding:3px;}
.payF table td{ border-left:1px solid #F8F8F8; border-top:1px solid #F8F8F8;}


#error {padding:5px 10px; margin:0 10px; border:1px solid #F30; background:#F60; color:#FFF;}
#success {border: 1px solid #1b6116;border-radius: 5px 5px 5px 5px;box-shadow: 0 1px 1px #FFFFFF inset; padding: 10px;background-color:#2ea125;color: #FFF; margin:0 10px;}

table.receipt{  border:1px solid #888; border-width:1px 1px 0 0;}
table.receipt th,table.receipt td{ text-align:left; padding:5px; border-left:1px solid #888; border-bottom:1px solid #888;} 
table.receipt th{  font-size:15px; text-transform:16px;}


.payInfo{ font-size:14px; margin:10px; background:#FFF8E7; border: 1px solid #FFEAB7; padding:10px;}
.payInfo a{ background:#05405F!important; color:#FFF!important; display:inline-block!important; padding:0px 1px!important;}
.info{padding:5px 10px; margin:10px; border:1px solid #F30; background:#F60; color:#FFF;}

#leftId{border:1px solid #EEE; background:#FCFCFC; margin:5px 0px 5px 5px;}
#rightId{margin:5px; border:1px solid #F1F1F1; background:#FFF;}


.a1,.a2{display:block;overflow:hidden;}
.a1{background:#93CCEA;color:#FFF;padding:4px; font-weight:700;}
.a2{color:#3E3E3E;padding:3px; font-size:12px;}

.i{ color:grey; margin:0 10px;}

.upmenux{ background:#EEEEEE url(../Fashion/Images/shade.png) repeat-x; padding:10px;}








.newsslider {position:relative; background:#f1f1f1; overflow:hidden; height:260px; margin-bottom:20px}
.newsslidercontent {position:absolute; font-size:12px; font-family:Georgia; color:#888; letter-spacing:.5px; word-spacing:.5px; line-height:17px; }
.newsslidercontent strong{ font-size:13px; font-family:Georgia; margin-bottom:5px; color:#444; display:block; overflow:hidden;}
.newsslidercontent strong a{color:#003366}
.newsslidercontent .more{ margin-top:3px;display:inline-block; padding:3px; overflow:hidden; color:#060; background:#060; color:#FFF;}
.newssection {padding:5px 15px; height:120px;}
