/*
 *	All Thanks to Almighty God
 *	For a Peace and Love Handwriting
 *	Author: Ojutiku Oluwatobi
 */
 
@charset utf-8;
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0 none;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;vertical-align:baseline;margin:0;padding:0;}
*{margin:0;padding:0;}
ul,li{border:0;list-style:none;margin:0;padding:0;}
.center,.success{margin:0 auto;}
* html .clearfix{height:1%;}
.clearfix{display:inline-block;}
a,a:visited{text-decoration:none;color:#16387C;}
.block,ul.action,ul.action li,ul.action li a{display:block;overflow:hidden;}
body{font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;font-size:13px;background:#F4F7FA;}
#header{ height:44px; background:#E5EBF5; border-bottom:1px solid #D4DEEE; background: -moz-linear-gradient(top, #F2F5F9,#E5EBF5 );background:-webkit-gradient(linear,left top, left bottom, from(#F2F5F9), to(#E5EBF5));filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#F2F5F9', EndColorStr='#E5EBF5', GradientType=0);}
#branding{float:left;width:210px;font-family:"Segoe UI", Tahoma;letter-spacing:2px; border-left:1px solid #D4DEEE; padding-left:10px; line-height:42px;}
#name a{font-size:19px;font-weight:700;text-decoration:none;color:#B5C2D7;text-shadow:0 1px #FFF;}
.right{float:right;}
.left{float:left;}
ul.action{margin:5px 10px 0 0;border-left:1px solid #9FA8B3;}
ul.action li{float:left;padding-top:1px;border:1px solid #9FA8B3;margin-left:-1px;}
ul.action li a{float:left;padding:4px 10px 5px; line-height:21px;}
ul.action li a{text-decoration:none;color:#fff;background:#CDD7E4;}
ul.action li a:hover{background:#C5D0E0;}
.content{ padding-top:1px;width:980px; background:#F1F4F9;border:1px solid #D9E2F0; padding-top:1px; margin:20px auto}
.contentheader{background:#E8EDF4; color:#2F3A42; padding:11px; font-size:14px; border-bottom:1px solid #D9E2F0;  text-align:center; font-weight:700; }
.cnt{ margin:0px 1px; background:#fdfdfd; border:1px solid #ECF0F7; border-top:none }
.bottomplace{ padding:4px 5px 5px;}

.itext,.itextarea,.iselect,.ibutton{width:300px;border:1px solid #CAD2DF;-webkit-border-radius:3px;-khtml-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background:#fff;margin:0;font-family:arial;padding:6px;color:#666;}
.itext,.iselect{ background:#fff url(../cms_img/textinputbg.gif) repeat-x;}
.itext:hover,.itextarea:hover,.iselect:hover,.ibutton:hover,.itext:focus,.itextarea:focus,.iselect:focus,.ibutton:focus{border-color:#777;}
.iselect{width:314px;padding:5px 6px;}
.itextarea{height:100px;width:250px;}
.ibutton {margin-left:3px;border-color:#999;color:#000;width:auto;box-shadow:rgba(0,0,0,0.1) 0 0 8px;background:#eee  url(../template_img/hor-separator-middle.png) repeat-x;background: -moz-linear-gradient(top, #FFFFFF 0%, #CCCCCC 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#CCCCCC));filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#CCCCCC',GradientType=0 );font-family:dotum,sans-serif;}
.ibutton:hover,.ibutton:focus {
background: -moz-linear-gradient(top, #cccccc 0%, #ffffff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CCCCCC), color-stop(100%,#FFFFFF));
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CCCCCC', endColorstr='#FFFFFF',GradientType=0 );
}
.opadd li label{ width:100px; display:block; float:left; color:#333; padding-top:7px;}
.opadd li{ margin-bottom:9px; display:block; overflow:hidden}
.success{ width:600px; padding:10px; background:#6F0; border:1px solid #6C0; margin-top:5px; color:#FFF;}


ul.cms, ul.cms li,ul.cms li a { display:block; overflow:hidden;}
ul.cms li{float:left; margin-top:1px; margin-left:1px;border-bottom:1px solid #F1F4F9;border-right:1px solid #F1F4F9;}
ul.cms li a{ line-height:33px; padding:6px 15px; background:#E6EBF5; color:#666; font-weight:700;text-shadow:0 1px #D4DEEE; letter-spacing:2px; color:#FFF;}


ul.cms li ul{  position:absolute;width:auto;display:none;z-index:100;border:1px solid #D4DEEE; postion:relative; margin:0; margin-left:-3px; padding:0;}
ul.cms li ul li{ float:none; width:250px;background:none; margin:0; border:none; }
ul.cms li ul li a{border:none; line-height:25px; padding:0px 10px;  background:#FFFFFF; font-size:12px; letter-spacing:1px; color:#555; font-weight:normal; text-shadow:none;}
ul.cms li ul li a:hover{ background:#F4F7FA;}



ul.menu li a{line-height:33px; padding:6px 15px; background:#E6EBF5; color:#666; font-weight:700;text-shadow:0 1px #D4DEEE; letter-spacing:2px; color:#FFF;}
ul.menu li ul,ul.menu li ul li ul{display:none;width:250px; overflow:hidden;margin:0; padding:0; position:absolute;margin-left:-2px;background:#D4DEEE; border:1px solid #D4DEEE; }
ul.menu li ul li a,ul.menu li ul li ul li a/*{margin:0; padding:0; border:0; font-size:12px; line-height:17px; letter-spacing:1px; padding:5px 15px; color:#D8EBFE;*/background:#FFFFFF; font-size:12px; letter-spacing:1px; color:#555; font-weight:normal; text-shadow:none;}
ul.menu li ul li{ float:none!important; display:block; overflow:hidden;}
ul.menu li ul li ul{ left:250px; position:absolute; margin-top:-27px;}



ul.menu li ul li a:hover,ul.menu li ul li ul li a:hover{  background:#F4F7FA;}


ul.menuhover ul li a, ul.menuhover ul li ul li a{ background:#F4F7FA;}
