.calendar-box {
	display:none;
	background-color:#fff;
	border:1px solid #444;
	position:absolute;
	width:250px;
	padding: 0 5px;
}
.calendar-box select.calendar-month {
	width:90px;
}
.calendar-box select.calendar-year {
	width:70px;
}
.calendar-box .calendar-cancel {
	width:100%;
}
.calendar-box table td {
	width:14%;
	font-size:13px;
}
.calendar-box .calendar-title {
	text-align:center;
}
.calendar-box a {
font-size:13px;
	text-decoration:none !Important;
	border-bottom:none;
}
.calendar-box .today a {
	padding:0 5px;
	margin-left:-5px;
	background-color:#ffe9c6;
} 
.calendar-box .selected a {
	padding:0 5px;
	margin-left:-5px;
	background-color:#c9ff8b;
}


.dA{ font-size:15px; color:#333; display:block; font-weight:700;}
.dB{ font-size:14px; color:#555; display:block; padding:5px 10px; margin-bottom:5px;}

